

<html>
<h1>CITA PREVIA</h1>
<head>
	<meta charset="UTF-8"/>
</head>
<br>
<form action="/Citas" method="post">
<select name='dia'>
   <option value="" selected="selected">Dia</option>
   <option value="Lunes">Lunes</option> 
   <option value="Martes">Martes</option> 
   <option value="Miercoles">Miércoles</option>
   <option value="Jueves">Jueves</option> 
   <option value="Viernes">Viernes</option> 
   <option value="Sabado">Sábado</option>
   </select>
  

<select name="hora">
   <option value="" selected="selected">Hora</option>
   <option value="10:00 horas">10:00 horas</option> 
   <option value="11:00 horas">11:00 horas</option> 
   <option value="12:00 horas">12:00 horas</option>
   <option value="13:00 horas">13:00 horas</option> 
   <option value="17:00 horas">17:00 horas</option> 
   <option value="18:00 horas">18:00 horas</option> 
   <option value="19:00 horas">19:00 horas</option>   
</select>



<select name="profesional">
   <option value="" selected="selected">Profesional</option>
   <option value="Ana">Ana</option> 
   <option value="Alicia">Alicia</option> 
   <option value="Sonia">Sonia</option>
   <option value="Esteticista">Esteticista</option>
   </select>
   
   <select name="tratamiento">
   <option value="" selected="selected">Tratamiento</option>
   <option value="Lavado">Lavado</option> 
   <option value="Peinado">Peinado</option> 
   <option value="Tinte">Tinte</option>
   <option value="Corte señora">Corte señora</option>
   <option value="Corte caballero">Corte caballero</option>
   </select>
   
   <input type='submit' value='Enviar'/>
	</form> 
<br><br/>



</html>