<html>

	<head>
		<meta charset="UTF-8"/>

		<style>
			ul {
    			list-style-type: none;
    			margin: 0;
    			padding: 0;
    			overflow: hidden;
    			background-color: #34495E ;
			   }

			li {
    			float: left;
		           }

			li a {
    			display: block;
    			color: white;
    			text-align: center;
    			padding: 14px 16px;
    			text-decoration: none;
			}
			li a:hover {
    			background-color: ;
			}

		</style>
	</head>

	<body bgcolor="#B2BABB">

		<ul>
 		<li><a>PELUQUERIA SSDD</a></li>
 		<li style="float:right"><a class="active" href="/admin">Atrás</a></li>
		</ul>
		<center>
		<h1>Registro de Citas</h1>
		</center>
		
		{{#cita}}
		{{dia}} {{hora}} con {{profesional}} para  {{tratamiento}}<br></br>
		{{/cita}}
		
	</body><br></br>
</html>