

<html>
<h1>CITA PREVIA</h1>
<br>
<select name="fecha">
   <option value="1">Lunes</option> 
   <option value="2">Martes</option> 
   <option value="3">Miercoles</option>
   <option value="4">Jueves</option> 
   <option value="5">Viernes</option> 
   <option value="6">Sabado</option> 
</select>

<select name="horas">
   <option value="1">10:00 horas</option> 
   <option value="2">11:00 horas</option> 
   <option value="3">12:00 horas</option>
   <option value="4">13:00 horas</option> 
   <option value="5">17:00 horas</option> 
   <option value="6">18:00 horas</option> 
   <option value="7">19:00 horas</option>   
</select>

<select name="profesional">
   <option value="1">Ana</option> 
   <option value="2">Alicia</option> 
   <option value="3">Sonia</option>
   <option value="4">Esteticista</option> 
</select>

<br><br/>

<form action="/reserva" method="post">
		<input type='submit' value='Enviar'/>
</form>

</html>